* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding: 10px;
}

/* Botão estilizado menor */
.button {
  border: none;
  outline: none;
  background-color: #3a3a3a;
  width: 140px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(231, 229, 229, 0.15);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.3);
  width: 105%;
  height: 115%;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.3s;
}

.gradientContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 110%;
  overflow: hidden;
  border-radius: inherit;
  z-index: -2;
  filter: blur(6px);
  transition: all 0.3s;
}

.gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all 0.3s;
  background-image: linear-gradient(
    90deg,
    hsl(226, 81%, 64%),
    hsl(271, 81%, 64%),
    hsl(316, 81%, 64%),
    hsl(1, 81%, 64%),
    hsl(46, 81%, 64%),
    hsl(91, 81%, 64%),
    hsl(136, 81%, 64%),
    hsl(181, 81%, 64%)
  );
  animation: rotate 2s linear infinite;
  filter: blur(8px);
}

.label {
  width: 120px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 16px;
  background-color: rgba(43, 43, 43, 1);
  background-image: linear-gradient(
    180deg,
    rgb(43, 43, 43) 0%,
    rgb(68, 68, 68) 100%
  );
  font-size: 13px;
}

.button:hover .gradientContainer {
  transform: translate(-50%, -50%) scale(0.98);
  filter: blur(4px);
}

.button:hover .gradient {
  filter: blur(4px);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
